@mixin justify-center-flex() {
    display: flex;
    justify-content: center;
}

@mixin align-center-flex() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button-style() {
    border-radius: 6px;
    border: none;
    height: 7vh;
    margin: 2vh;
    width: 43%;
}

@mixin button-hover() {
    background-color: $dark-hover-background;
    color: $dark-hover-text;
}

@mixin input-style() {
    border-radius: 6px;
    border: none;
    height: 6vh;
}

@mixin heading-hover() {
    background-color: $dark-text-color;
    color: $dark-hover-text;
}