$primary-background: #15435D;
$darker-primary-color: darken($primary-background, 15%);
$dark-text-color: mix(black, $primary-background);
$lighter-background: #A89688;
$muted-accent: #CFCFD7;
$secondary-muted-accent: mix(antiquewhite, $muted-accent);
$lightest-accent: antiquewhite;