@import './variables';
@import './extends';
html {
  background: $primary-background;
  width: 100%;
}
body {
  @extend html;
  font-family: 'Open Sans', sans-serif;

}

h3 {
  background-color: gray;
  margin: 0;
  padding: 3%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
}

.dashboard-wrapper {
  display: grid;
  grid-gap: 1% 3%;
  grid-template-columns: repeat(1, 1fr);
  margin: 4%;
  background-color: gold;
  width: 60%;
}

.trip-list-wrapper {
  @extend main;
}
