@import './variables';
@import './extends';

* {
  margin: 0;
  padding: 0;
}

html {
  background: $primary-background;
  width: 100%;
}
body {
  @extend html;
  font-family: 'Open Sans', sans-serif;
}

main {
  @include align-center-flex();
  height: 100%;
  width: 100%;
}

nav {
  align-items: center;
  background-color: $secondary-muted-accent;
  display: flex;
  justify-content: space-between;
  height: 35vh;
}

form {
  @include align-center-flex;
  padding: 1%;
}

.dashboard-wrapper {
  display: grid;
  grid-gap: 1% 3%;
  grid-template-columns: repeat(1, 1fr);
  margin: 4%;
  background-color: $primary-background;
}

.trip-list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $secondary-muted-accent;
  color: $darker-primary-color;
  padding: 3%;
}
//----------categories-----------//

.card-book-trip {
  background-color: $secondary-muted-accent;
  display: flex;
  flex-direction: column;
}

.card-trip {
  padding: 2%;
  @include align-center-flex;
}

.destination-photo {
  width: 40vh;
}

.pending-trips {
  @include justify-center-flex;
  flex-direction: column;
}

//----------Text----------------//
h1 {
  color: $dark-text-color;
  font-size: 8vh;
  margin: 5vh;
  text-shadow: 1px 1px 0px black;
}

h2 {
  color: $dark-hover-text;
  margin: 3vh;
}

h3 {
  background-color: $dark-hover-background;
  color: $dark-hover-text;
  margin: 0;
  padding: 3%;
  @include justify-center-flex();
  &:active {
    background-color: black;
  }
}

p {
  font-weight:300;
}

.amount-spent-amount {
  font-weight: bold;
}

.cost-estimate-announcement {
  @include justify-center-flex;
  font-size: large;
  font-weight: 600;
  padding: 2%;
}

.greeting {
  color: $muted-accent;
  font-size: 4vh;
  margin-bottom: 0%;
  text-shadow: 1px 1px 0px black;
}

.total-amount-spent {
  @include justify-center-flex;
  background-color: $muted-accent;
  border-radius: 6px;
  padding: 2%;
}

.trip-status-announcement {
  display: flex;
  justify-content: center;
  padding: 3%;
  font-weight: 400;
  font-size: 3vh;
}
//---------login display------//

.container-username {
  margin: 2%;
  width: 55%;
}

.container-password {
  @extend .container-username;  
}

.button-login {
  @extend .container-username;
  @include button-style;
  padding: 2%;
  width: 60%;
  &:hover {
    @include button-hover;
  }
}

.input-login {
  @include input-style;
  background-color: $dark-hover-text;
  padding: 2%;
  width: 60%;
}

.login-display {
  background-color: $muted-accent;
  @include align-center-flex();
  justify-content: space-around;
  width: 55%;
  height: 25vh;
  padding: 5%;
  border-radius: 6px;
}

//---------buttons and input fields-----------//

.button-cost-estimate, .button-submit-request {
  @include button-style;
  &:hover {
    @include button-hover;
  }
}

.button-nav {
  @include justify-center-flex();
  align-items: center;
  border-radius: 6px;
  border-width: 0;
  margin: 2vh;
  width: 10%;
  height: 10vh;
  &:hover {
    @include button-hover;
  }
}

.date-input {
  @include input-style;
  background-color: $muted-accent;
  margin: 2vh;
}

.destination-menu {
  @extend .date-input;
}

.duration-input {
  @extend .date-input;
  width: 20vh;
  margin-bottom: 3%;
}

.travelers-input {
  @extend .date-input;
  width: 8vh;
}

//---------hidden-----------//
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//-------media queries------//

@media (max-width: 800px) {
  .trip-list-wrapper {
    grid-gap: 0.5% 4%;
    grid-template-columns: repeat(1, 1fr);
  }

  nav {
    flex-direction: column;
    height: 40vh;
  }

  .destination-photo {
    width: 50vh;
  }
  
  .login-display {
    width: 82%;
  }

  .main-header {
    height: 18vh;
  }

  .search-input {
    width: 50%;
  }
}