@import './variables';
@import './extends';

* {
  margin: 0;
  padding: 0;
}

html {
  background: $primary-background;
  width: 100%;
}
body {
  @extend html;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: $dark-text-color;
  font-size: 8vh;
  margin: 5vh;
}

h2 {
  color: $dark-hover-text;
  margin: 3vh;
}

h3 {
  background-color: $lighter-background;
  margin: 0;
  padding: 3%;
  @include justify-center-flex();
  &:hover {
    @include heading-hover;
  }
}

main {
  @include align-center-flex();
  height: 100%;
  width: 100%;
}

nav {
  align-items: center;
  background-color: $secondary-muted-accent;
  display: flex;
  justify-content: space-between;
}

form {
  @include align-center-flex;
}

p {
  font-weight:300;
}
.card-trip {
  padding: 2%;
  @include align-center-flex;
}

.destination-photo {
  width: 50vh;
}

.dashboard-wrapper {
  display: grid;
  grid-gap: 1% 3%;
  grid-template-columns: repeat(1, 1fr);
  margin: 4%;
  background-color: $primary-background;
  width: 60%;
}

.pending-trips {
  @include justify-center-flex;
  flex-direction: column;
}

.total-amount-spent {
  @include justify-center-flex;
  background-color: $muted-accent;
  border-radius: 6px;
  padding: 2%;
}

.trip-list-wrapper {
  @extend main;
  background-color: $secondary-muted-accent;
  color: $darker-primary-color;
  padding-top: 5%;
}
//---------login display------//

.container-username {
  margin: 2%;
  width: 55%;
}

.container-password {
  @extend .container-username;  
}

.button-login {
  @extend .container-username;
  @include button-style;
  padding: 2%;
  width: 43%;
  &:hover {
    @include button-hover;
  }
}

.input-login {
  @include input-style;
  padding: 2%;
  width: 60%;
}

.login-display {
  background-color: $muted-accent;
  @include align-center-flex();
  justify-content: space-around;
  width: 50%;
  height: 15vh;
  padding: 5%;
  border-radius: 6px;
}

//---------buttons and input fields-----------//

.button-cost-estimate, .button-submit-request {
  @include button-style;
  &:hover {
    @include button-hover;
  }
}

.button-nav {
  @include justify-center-flex();
  align-items: center;
  border-radius: 6px;
  border-width: 0;
  margin: 2vh;
  width: 10%;
  height: 10vh;
  &:hover {
    @include button-hover;
  }
}

.date-input {
  @include input-style;
  margin: 2vh;
}

.destination-menu {
  @include input-style;
  margin: 2vh;
}

.duration-input {
  @include input-style;
  width: 20vh;
  margin-bottom: 6%;
}

.travelers-input {
  @include input-style;
  width: 22vh;
}

//---------hidden-----------//
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}